/* Глобальный сброс стилей и установка шрифта для всего сайта */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  /* ✅ Убираем фиксированную ширину и делаем ее адаптивной */
  width: 100% !important;
  /* ✅ Сбрасываем overflow-x для этого элемента */
  overflow-x: hidden;
}

body {
  font-family: 'Space Grotesk', sans-serif; /* Шрифт Space Grotesk Regular */
  color: #ffffff; /* Белый текст по умолчанию */
  background-color: #080f19; /* Тёмный фон для согласованности */
}
